<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>		

	<settings>
	 <setting name="jdbcTypeForNull" value="VARCHAR"/> 
	</settings>
	<typeAliases>
		<typeAlias type="com.groupware.dto.Apv_vc_dto" alias="Apv_vc_dto"/>
	</typeAliases> 
	<mappers>
		<mapper resource="/com/groupware/mapper/Boardmapper.xml"/> 
	</mappers>
	
</configuration>